/* GLOBAL */

body {
    margin: 0;
    font-family:"Lucida Grande";
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5 {
    margin-top:0;
    font-family: inherit;
    font-weight: bold;
    line-height: 1.5;
}

div {
    display: block;
}

p {
    display:block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.9;
    border-radius: 30px;
}

.btn:hover {
    opacity: 1;
}

.heading {
    padding-top: 60px;
    padding-bottom: 30px;

}

.title {
    text-align: center;
    color:#bbb;
    font-size:14px;
    font-weight:bold;
    padding-top: 20px;
}

.section-title {
    text-align: center;
    color: #00529b;
    font-size:  2.25rem;
    font-weight:bold;
}


/* HEADER */

header {
    height: 65px;
    width: 100%;
    background-color:rgb(87, 75, 144);
    position:fixed;
    top: 0;
    z-index:10;
}

.logo {
    width: 95px;
    margin-top: 3px;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    margin-right: -25px;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.fa {
  margin-right: 5px;
}

.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display:none;
}

/* MAIN 1 */

.top-wrapper {
    background-image: url(../image/front-building.jpg);
    padding: 400px 0 0 0;
    background-size: cover;
    color: white;
    text-align: left;
}

.top-wrapper h1 {
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.top-wrapper p {
    font-size: 25px;
    margin-bottom: 20px;
}

.top-text {
    max-width: 800px;
}

.find {
    background-color: #546de5;
    margin-right: 10px;
}

.top {
    background-color: rgb(48, 57, 82, 0.3);
    padding-bottom: 50px;
    padding-top: 25px;
}

/* MAIN 2 */

.what-wrapper {
    padding-bottom: 60px;
    text-align: center;
}

.what-item{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px 0px 100px 20px;
    text-align: left;
}

.row1 {
    padding-left: 10%;
}

.column {
    float: left;
    width: 30%;
}

.row1:after {
    content: "";
    display: table;
    clear: both;
}

.text-top {
    color: whitesmoke;
}

.img5{
    background-image:url(../image/blue.png);
    margin: 30px 20px;
    background-size: cover;
  }

  .img6{
    background-image:url(../image/girls.jpg);
    margin: 30px 20px;
    background-size: cover;

  }

  .img7{
    background-image:url(../image/orange.png);
    margin: 30px 20px;
    background-size: cover;

  }

  .img8{
    background-image:url(../image/hall.jpg);
    margin: 30px 20px;
    background-size: cover;

  }

  .img9{
    background-image:url(../image/pink.png);
    margin: 30px 20px;
    background-size: cover;

  }

  .img10{
    background-image:url(../image/lab.jpg);
    margin: 30px 20px;
    background-size: cover;

  }


/* MAIN 4 */

.main4 {
    background-image: url('../image/people1.jpg');
    padding:300px 0 300px 0;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height:800px;
    position:relative;
    margin-top:100px;
    color:rgba(255, 255, 255,1);
}

.quote-icon {
    background-image: url('../image/quoteicon.png');
    width: 50px;
    height:37px;
    background-size: cover;
}

.quote-name {
    padding-bottom:50px
}

.quote-name p {
    font-size:24px;
    font-weight: 400;
    letter-spacing: 1px;
}

.quote-text {
    max-width: 500px;
}

.quote-text p {
    font-weight: 800;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 2px;
}

.content {
    max-width: 1170px;
    width: 100%;
}

/* FOOTER */

.footer-links {
    margin-top: 30px;
}

.footer-bottom {
    text-align: center;
    margin-top: 60px;
}

.bottom-footer-list {
    padding-top:30px;

}

.bottom {
    padding-bottom: 60px;
}

.bottom li {
    margin-bottom: 10px;
}

footer {
    background-color: rgb(89, 98, 117, 0.2);

}

/* MAIN 3 */

.column1 {
    float: left;
    width: 50%;
    padding: 0 10px;
  }

  .row {
    margin: 50px -5px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .content-item{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 230px 0 0 0;
    background-size:100%;
    margin: 0 20px;
  }

  .img1{
    background-image:url(https://placeholder.com/wp-content/uploads/2019/06/lorem-ipsum.webp);
    margin-right: 5px;
  }

  .img2{
    background-image:url(https://placeholder.com/wp-content/uploads/2019/06/lorem-ipsum.webp);
    margin-left: 5px;
  }

  .img3{
    background-image:url(https://placeholder.com/wp-content/uploads/2019/06/lorem-ipsum.webp);
    margin-right: 5px;
  }

  .img4{
    background-image:url(https://placeholder.com/wp-content/uploads/2019/06/lorem-ipsum.webp);
    margin-left: 5px;
  }

.see {
    background-color: #d76c2d;
}

.btn-wrapper{
    text-align: center;
}

.text-center{
    font-size:1.5rem;
    color:#fff;
    font-family: inherit;
    font-weight: bold;
    line-height: 1.5;
}

.date{
    font-size:  14px;
    color: #bbb;;
    font-family: inherit;
    font-weight: bold;
    line-height: 1.5;
}

/* Contact Us */

.contact {
    width: 50%;
    padding-bottom: 100px;
}

.submit {
    background-color: rgb(196, 69, 105);
}

.btn-contact {
    text-align: left;
}

input[type=text],textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
