body {
    margin: 0;
    font-family:"Lucida Grande";
}

* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5 {
    margin-top:0;
    font-family: inherit;
    font-weight: bold;
    line-height: 1.5;
}

div {
    display: block;
}

p {
    display:block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    text-decoration: none;
}


.top-wrapper {
    background-image: url(../image/front-building.jpg);
    padding: 400px 0 0 0;
    background-size: cover;
    color: white;
    text-align: left;
}

.top-wrapper h1 {
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.top-wrapper p {
    font-size: 25px;
    margin-bottom: 20px;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.9;
    border-radius: 30px;
}

.find {
    background-color: #546de5;
    margin-right: 10px;
}


.top {
    background-color: rgb(48, 57, 82, 0.3);
    padding-bottom: 50px;
    padding-top: 25px;
}

.btn:hover {
    opacity: 1;
}

.heading {
    padding-top: 60px;
    padding-bottom: 30px;

}

.what-wrapper {
    height: 750px;
    padding-bottom: 80px;
    text-align: center;
}

.card {
    float: left;
    width: 30%;
    padding: 20px 20px;
}


.card img {
    position: relative;
}

.txt-content{
    position: absolute;
}

.main4 {
    background-image: url('../image/people1.jpg');
    padding:300px 0 300px 0;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 4rem !important;
    height:800px;
    position:relative;
    margin:100px 0 100px 0;
    color:rgba(255, 255, 255,1);
}

.quote-icon {
    background-image: url('../image/quoteicon.png');
    width: 50px;
    height:37px;
    background-size: cover;
}

.quote-name {
    padding-bottom:50px
}

.quote-name p {
    font-size:24px;
    font-weight: 400;
    letter-spacing: 1px;
}

.quote-text {
    max-width: 500px;
}

.quote-text p {
    font-weight: 800;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 2px;
}

.content {
    max-width: 1170px;
    width: 100%;
}

.contact-us {
    text-align: center;
}

.submit {
    background-color: #d76c2d;
}


/* FOOTER */

.footer .footer-links {
	padding: 100px 50px;
}

footer {
    background-color: aliceblue;
    padding-top:50px;
}

.footer .footer-links .footer-list {
	float: left;
	margin-right: 100px;
}

.footer .footer-links .footer-list h3 {
	color: #000080;
}

.footer .footer-links .footer-list li {
	list-style: none;
	padding: 5px;
    color: blue;
}

.footer .footer-bottom .bottom-footer-list {
    text-align: center;
    float: left;
    position: relative;
    margin: 5px;
    overflow: hidden;
}

.footer .footer-bottom .bottom-footer-list ul {
    list-style: none;
    display: flex;
    margin-left: -1px;
}
.footer .footer-bottom .bottom-footer-list li {
    margin: .25em 0;
    padding: 0 1em;
    text-align: center;
    border-left: 1px solid;
    color: grey;
}

/* MAIN 3 */

.title {
    text-align: center;
    color:#bbb;
    font-size:14px;
    font-weight:bold;
    font-family:inherit;
}

.section-title {
    text-align: center;
    color: #00529b;
    font-size:  2.25rem;
    font-weight:bold;
    font-family:inherit;
}


.column1 {
    float: left;
    width: 50%;
    padding: 0 10px;
  }

  .row {
    margin: 50px -5px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column1 {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  .content-item{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 230px 0 0 0;
    background-size:100%;
    margin:2 20px;
  }

  .img1{
    background-image:url(https://placeholder.com/wp-content/uploads/2019/06/lorem-ipsum.webp);
    margin-right: 5px;
  }

  .img2{
    background-image:url(https://placeholder.com/wp-content/uploads/2019/06/lorem-ipsum.webp);
    margin-left: 5px;
  }

  .img3{
    background-image:url(https://placeholder.com/wp-content/uploads/2019/06/lorem-ipsum.webp);
    margin-right: 5px;
  }

  .img4{
    background-image:url(https://placeholder.com/wp-content/uploads/2019/06/lorem-ipsum.webp);
    margin-left: 5px;
  }

.see{
    background-color: #d76c2d;
}

.btn-wrapper{
    text-align: center;
}

.text-center{
    font-size:1.5rem;
    color:#fff;
    font-family: inherit;
    font-weight: bold;
    line-height: 1.5;
}

.date{
    font-size:  14px;
    color: #bbb;;
    font-family: inherit;
    font-weight: bold;
    line-height: 1.5;
}

/* Contact Us */

input[type=text],textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin:20px;
    width:100px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container-contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: left;
  }

.contact-us h3{
    padding-bottom:50px;
}
